################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VectorVisualization/.vs/VectorVisualization/v15
